name: Train + Build Docker

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas numpy dagshub joblib

    - name: Run MLflow Project
      run: mlflow run MLProject --env-manager=local

    - name: Upload model artifacts
      uses: actions/upload-artifact@v4
      with:
        name: churn-model-artifacts
        path: mlruns


  docker_build_push:
    needs: train
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Install MLflow
      run: pip install mlflow

    - name: Copy best model from mlruns to root
      run: |
        MODEL_PATH=$(find mlruns -name "best_random_forest.pkl" | head -1)
        echo "FOUND MODEL AT: $MODEL_PATH"
        cp "$MODEL_PATH" best_random_forest.pkl

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build MLflow Docker Image
      run: |
        mlflow models build-docker -m best_random_forest.pkl -n telco-churn-image

    - name: Tag Docker Image
      run: |
        docker tag telco-churn-image ${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-image:latest

    - name: Push Docker Image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-image:latest
