name: Train + Docker Build CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:

  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas numpy dagshub joblib

      - name: Run MLflow Project
        run: mlflow run MLProject --env-manager=local

      - name: Upload trained model
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: artifacts/best_random_forest.pkl



  docker_build_push:
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download trained model
        uses: actions/download-artifact@v4
        with:
          name: trained-model

      - name: Install MLflow
        run: pip install mlflow

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image with MLflow
        run: |
          mlflow models build-docker -m best_random_forest.pkl -n telco-churn-image

      - name: Push Docker image
        run: |
          docker tag telco-churn-image "${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-image:latest"
          docker push "${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-image:latest"
