name: Train Model CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install MLflow and dependencies
      run: |
        pip install mlflow scikit-learn pandas numpy dagshub joblib

    - name: Run MLflow Project
      run: mlflow run MLProject --env-manager=local

    - name: Upload trained model artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: MLProject/best_random_forest.pkl
        if-no-files-found: warn
