docker_build_push:
  needs: train
  runs-on: ubuntu-latest

  steps:
  - name: Checkout repo
    uses: actions/checkout@v4

  - name: Install MLflow
    run: |
      pip install mlflow

  - name: Copy trained model from mlruns to project root
    run: |
      MODEL_PATH=$(find mlruns -name "best_random_forest.pkl" | head -1)
      cp "$MODEL_PATH" best_random_forest.pkl
      echo "Model copied to ./best_random_forest.pkl"

  - name: Log in to Docker Hub
    uses: docker/login-action@v3
    with:
      username: ${{ secrets.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}

  - name: Build Docker Image using MLflow
    run: |
      mlflow models build-docker -m best_random_forest.pkl -n telco-churn-image

  - name: Tag Docker Image
    run: |
      docker tag telco-churn-image ${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-image:latest

  - name: Push Docker Image
    run: |
      docker push ${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-image:latest
