name: Train Model CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas numpy dagshub joblib

    - name: Train model using MLflow Project
      run: mlflow run MLProject

    - name: Upload model artifacts
      uses: actions/upload-artifact@v4
      with:
        name: churn-model-artifacts
        path: mlruns
